<!DOCTYPE HTML>

<html>
	<head>

		<style>


			.wrappp{max-width: 900px; margin 0 auto; float:center;}
ul {
	list-style:none;
	float:left;
	display:inline;
}
ul li {
	list-style:none;
	float:left;
}
ul li a {
	float:left;
	padding:4px;
	margin-right:10px;
	width:25px;
	color:white;
	font:bold 15px tahoma;
	border:1px solid #eee;
	text-align:center;
	text-decoration:none;
}
ul li a:hover, ul li a:focus {
	color:black;
	border:1px solid white;
	background-color:white;
}



li{list-style:none;}
a{text-decoration: none;}

.clearfix{content:''; display:block; clear:both;}
.head{
	height:75px;
	background-color: rgba(0, 0, 0, 0.6);
	border:1px solid black;
	position: fixed;
	width:100%;
	z-index:999;
	top:0;
	left:0;
}

h1{color:white; line-height: 75px; float:left;}
.menu{float:right;}
.menu li{float:left;}
.menu li a{border:0; text-align: center; width:150px; line-height: 75px; color:white; padding: 0 15px; display:block;}



		</style>
		<title>Whatch Theater-게시글보기</title>

		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link href="https://fonts.googleapis.com/css?family=Nanum+Gothic+Coding&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="assets/css/main.css" />
		<noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>

	</head>
	<body class="is-preload" style="font-family: 'Nanum Gothic Coding', monospace;">

		<!-- Wrapper -->
			<div id="wrapper">



				

<p></p>
<header class="head">
	<div>
		<h1>Whatch Theater</h1>
		<nav>
			<ul class="menu">
				<li><a href="/" class="menu">Home</a></li>
				<li><a href="/poster-act/page/1" class="menu">연극</a></li>
				<li><a href="/poster-musical/page/1" class="menu">뮤지컬</a></li>
				<li><a href="/mypage" class="menu">마이페이지</a></li>
			</ul>
		</nav>
	</div>
</header>


<br><br><br><br>





<header id="header" style="display:block;">
	<div class="content">
		<div class="inner">
			<h1>공지&이벤트 게시글</h1>
		</div>
	</div>
</header>
<br><br><br><br><br>




<table class="wrappp" style="width: 800px; height: 300px; margin-left:auto; margin-right:auto; font-color:white; font-size:18px; font-family: 'Nanum Gothic Coding', monospace;" cellspacing="3px">
	<tr>
		<td>
			<h2><%= post.title %></h2>
		</td>
		<td style="width:100px; text-align: right;">
			관리자
		</td>
		<td style="width:150px; text-align: right;">
			<%= post.createdAt %>
		</td>
	</tr>
	<tr>
		<td colspan="3" style="width:800px; height: 700px;">
			<%= post.longinfo %>
		</td>
	</tr>
</table>

<!--관리자 ID일 때만 보일 수 있도록-->
<% if( user.admincode ) { %>
<form action="/writeBoard-update" method="get">
	<input type="hidden" name="id" value="<%= post.id %>">
	<button type="submit" style="float:right; vertical-align: :center; width:100px; height:50px; font-size:18px; border:0px; background:black; outline:none;">
		수정
	</button>
</form>
<input type="hidden" name="classify" value="<%= post.classify %>"/>
<button type="submit" style="float:right; vertical-align: :center; width:100px; height:50px; font-size:18px; border:0px; background:black; outline:none;" onclick="postDelete()">
	삭제
</button>
<% } %>
				<!-- Footer -->
				<br><br><br><br><br><br>
					<footer id="footer">
						Whatch Theater
					</footer>

			</div>

		<!-- BG -->
			<div id="bg"></div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>
		<!--	<script src="assets/js/jquery-1.11.3.min.js"></script>
			<script src="assets/js/star.js"></script> -->
			<script>
				var postDelete = () => {
					var xhr = new XMLHttpRequest();
					var data = {
						postId: $("input[name='id']").val(),
						classify: $("input[name='classify']").val(),
					}
					/*
					* 요청을 보내고 응답을 받지 않으면 계속해서 페이지가 빙빙돈다
					* 그러므로 onload 함수를 통해 직접 리다이렉트를 만져야한다
					 */
					xhr.onload = function() {
						if(xhr.status === 200) {
							alert('삭제되었습니다');
							//리다이렉트
							location.assign(xhr.responseURL);
						} else {
							console.error(xhr.responseText);
						}
					};
					xhr.open('DELETE', '/upload/delete');
					xhr.setRequestHeader('Content-Type', 'application/json');
					xhr.send(JSON.stringify(data));
				}
			</script>
	</body>
</html>
